.FlexCentered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Navbar {
    height: var(--navbar-height);
    background-color: var(--navbar-background);
}
